    <main>        
        <div class="hero jumbotron jumbotron-fluid">
            <div class="container">
            <h1 class="display-4">Welcome to Music Lab</h1>
            <p class="lead"><span style="color: white;">An app for creating music using various sounds. Users can pick and choose sounds and mix together to create music files of their own</span></p>
            <!-- <form class="form-inline my-2 my-lg-2">
                <div>
                    <input id="citysearch" class="form-ctrl mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                    <button id="searchBtn" class="src-btn btn-outline-success" type="submit">Search</button>
                </div>
            </form> -->
            </div>
        </div>
        <div class="container">
            <div id="search-results" class="row">
                <!--song display card-->
                <div class="cust-card-dark col-6">
                    <div class="card-body">
                        {{#if songs.length}}
                            {{#each songs as |song|}}
                        ````<h4 class="card-title">{{song.title}}</h4>
                            {{/each}}
                        {{/if}}
                        <a id="play" style="color: #fff;" href="./songs/id:" >    
                            <div class="dash-icon">
                                <i class="fas fa-play-circle"></i>
                            </div>
                        </a>
                    </div>
                </div>                             
            </div>            
            <div id="search-results" class="row">
                <!--community posts card-->
                <div class="cust-card-dark col-12">
                <h4 style="padding-top: 15px;" class="card-title">Community Posts</h4>
                    <div class="card-body comments">                        
                        <div  style="text-align: right;">
                            {{!-- {{#if posts}}
                            <div class="post-body">
                                {{#each posts as |post| }}                                
                                <p class="card-text"{{post.description}}!<span style="font-weight: bold; padding:5px">{{post.user.name}} on {{format_date createdAt}}</span></p>                                
                                {{/each}}
                            </div>
                            {{/if}} --}}
                            <div class="post-body">
                                <p class="card-text">How do you make your fingers work so fast?!?!<span style="font-weight: bold; padding:5px">~UserName</span></p>
                            </div>
                            <div class="post-body">
                                <p class="card-text">So good.<span style="font-weight: bold; padding:5px">~UserName</span></p>
                            </div>                          
                            <div class="post-body">
                                <p class="card-text">When is someone going to sign this person?!?!?! <span style="font-weight: bold; padding:5px">~UserName</span></p>
                            </div>
                            <div class="post-body">
                                <p class="card-text">Post 1</p>
                            </div>
                            <div class="post-body">
                                <p class="card-text">Post 1</p>
                            </div>
                            <div class="post-body">
                                <p class="card-text">Post 1</p>
                            </div>
                            <div class="post-body">
                                <p class="card-text">Post 1</p>
                            </div>
                            <div class="post-body">
                                <p class="card-text">Post 1</p>
                            </div>
                            <div class="post-body">
                                <p class="card-text">Post 1</p>
                            </div>
                            <div class="post-body">
                                <p class="card-text">Post 1</p>
                            </div>
                        </div>    
                    </div>
                </div>                
            </div>
            
            <div class="flex-row">
                <textarea class="form-control textarea" id="comment-content" data-id={{id}} placeholder="Leave a comment..."></textarea>
            </div>
            <div class="mt-2 text-right">
                <button class="btn btn-danger btn-sm shadow-none" id="commentBtn" type="button">Submit</button>
            </div>
            
        </div>
    </main>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js" integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf" crossorigin="anonymous"></script>
{{!-- <script src="/js/create.js"></script> --}}
<script src="/js/post.js"></script>
<script src="/js/comment.js"></script>